<!DOCTYPE html>
{% load static %}
{% load self_assessment_filters %}
<html lang="en">
<head>
    <title>Self-assessment</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "CSS/self_assessment.css" %}" />
    <link rel="stylesheet" href="{% static "GlobalCSS/Header.css" %}" />
</head>
<body>
<header>
    <button id="self-assessment-button" class="page-link">Заполнить квалификации</button><!--
    --><button id="certificate-button" class="page-link">Загрузить сертификат</button><!--
    --><button id="employee-evaluation-button" class="page-link">Оценить сотрудника(-ов)</button><!--
    --><button id="selection-button" class="page-link">Сводка по сотруднику</button>
</header>

<div id="error-box"></div>
<div id="form-navigation">
    <button id="HW-page" class="form-navigation-button" type="button">HW</button>
    <button id="SW-page" class="form-navigation-button" type="button">SW</button>
    <button id="skills-page" class="form-navigation-button" type="button">Skills</button>
    <button id="finish" class="form-navigation-button" type="button">Finish</button>
</div>
<form id="self-assessment-form" onkeydown="if(event.keyCode === 13) {return false}">
{% csrf_token %}
    <div id="user-name">
        <label for="user-name-input">Введите фамилию и имя:</label>
        <input id="user-name-input" type="text" value="" name="username"><br>
        <button type="button" id="start" class="form-navigation-button">Начать</button>
    </div>

    {% for page in pages %}
        <div id={{ page.id }} class="form-element"><h1>{{ page.id }}</h1>
        {% for name in page.tech %}
            <div class="element" id={{ name|replace_dj:" |_" }}><h2>{{ name }}</h2>
                {% for discipline in page.disciplines %}
                    <p>
                        <label for={{ discipline|replace_dj:" |_" }}>{{ discipline|replace_dj:"_| " }}
                            <select class={{ page.subpages }} name={{ discipline|replace_dj:" |_" }}>
                                {% for level in levels %}
                                    <option value={{ level.0 }}>{{ level.1 }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </p>
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
</form>
{#<script src="{% static "GlobalJS/jquery-3.7.1.min.js" %}"></script>#}
{#<script src="https://code.jquery.com/jquery-3.7.1.js"></script>#}
{#<script src="{% static "JS/self_assessment.js" %}"></script>#}
<script src="{% static "JS/js-only-self_assessment.js" %}"></script>
</body>
</html>