<!DOCTYPE html>
{% load static %}
{% load self_assessment_filters %}
<html lang="en">
<head>
    <title>Self-assessment</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "CSS/self_assessment.css" %}" />
    <link rel="stylesheet" href="{% static "CSS/self_assessment_modal.css" %}" />
    <link rel="stylesheet" href="{% static "GlobalCSS/Header.css" %}" />
    <link rel="shortcut icon" href="https://i.pinimg.com/474x/67/bf/21/67bf2179ae48b0513c7a067200e006c5.jpg" />
</head>
<body>
    {% if request.user.is_authenticated %}
        {% include "logged-header.html" %}
    {% else %}
        {% include "header.html" %}
    {% endif %}

<div id="error-box"></div>

<form id="self-assessment-form" onkeydown="if(event.keyCode === 13) {return false}">
{% csrf_token %}
{#Потом имя и фамилия будут браться из БД#}
    <div id="user-name">
        <label for="user-name-input">Введите фамилию и имя:</label>
        <input id="user-name-input" type="text" value="" name="username"><br>
        <button type="button" id="start" class="form-navigation-button">Начать</button>
    </div>

    {% for page in pages %}
        <div id={{ page.id }} class="form-element"><h1>{{ page.id }}</h1>
        {% for name in page.tech %}
            <div class="element" id={{ name|replace_dj:" |_" }}><h2>{{ name }}</h2>
                {% for discipline in page.disciplines %}
                    <p>
                        <label for={{ discipline|replace_dj:" |_" }}>{{ discipline|replace_dj:"_| " }}
                            <select class={{ page.subpages }} name={{ discipline|replace_dj:" |_" }}>
                                {% for level in levels %}
                                    <option value={{ level.0 }}>{{ level.1 }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </p>
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
</form>
<div id="modal" class="modal">
    <div class="modal-content">
        <p>Найдена ваша незавершенная форма. Хотите продолжить?
        (В случае отказа данные будут стёрты)</p>
        <button id="modal-accept">Продолжить</button>
        <button id="modal-decline">Очистить</button>
    </div>
</div>
<script src="{% static "GlobalJS/header.js" %}"></script>
<script src="{% static "JS/js-only-self_assessment.js" %}"></script>
</body>
</html>