<!DOCTYPE html>
<!--Тестовая страница для тестовых тестов-->
{% load static %}
{% load self_assessment_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "CSS/self_assessment.css" %}" />
    <link rel="stylesheet" href="{% static "CSS/self_assessment_modal.css" %}" />
    <link rel="stylesheet" href="{% static "GlobalCSS/Header.css" %}" />
</head>
<body>
    {% if request.user.is_authenticated %}
        {% include "logged-header.html" %}
    {% else %}
        {% include "header.html" %}
    {% endif %}

<div id="error-box"></div>
<div id="form-navigation">
    <button id="HW-page" class="form-navigation-button" type="button">HW</button>
    <button id="SW-page" class="form-navigation-button" type="button">SW</button>
    <button id="skills-page" class="form-navigation-button" type="button">Skills</button>
    <button id="finish" class="form-navigation-button" type="button">Finish</button>
</div>

<form id="self-assessment-form" onkeydown="if(event.keyCode === 13) {return false}">
<div id="form-questions-navigation">


</div>
    {% csrf_token %}
    {% for page in pages %}
    	<div id="{{ page.id }}" class="form-element"><h1>{{ page.id }}</h1>
            {% for product in page.tech %}
                <div class="sub-block"><h2>{{ product }}</h2>
                    {% for discipline in page.disciplines %}
                        <div class="{{ page.subpages}}"><h3>{{ discipline }}</h3>
                            <button  class="form-navigation-button previous question-button" type="button">Previous</button>
                                <table style="display: inline">
                                    <tr>
                                    {% for level in levels %}
                                        <td>
                                            {{ level.1 }}
                                        </td>
                                    {% endfor %}
                                    </tr>
                                    <tr>
                                        {% for level in levels %}
                                        <td>
                                            <label>
                                                <input class="{{ page.subpages_radio }}" type="radio" value="{{ level.0 }}" name="{{ product|replace_dj:" |_" }}_{{ discipline|replace_dj:" |_" }}" required disabled>
                                            </label>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            <button  class="form-navigation-button next question-button" type="button" disabled>Next</button>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</form>
    <div id="modal" class="modal">
    <div class="modal-content">
        <p>Найдена ваша незавершенная форма. Хотите продолжить?
        (В случае отказа данные будут стёрты)</p>
        <button id="modal-accept">Продолжить</button>
        <button id="modal-decline">Очистить</button>
    </div>
</div>
    <script src={% static "GlobalJS/header.js" %}></script>
    <script src={% static "JS/self_assessment.js" %}></script>
</body>
</html>