{% load static %}
<header>
    <button id="self-assessment-button" class="page-link" onclick="location.href = '/self-assessment'">Заполнить квалификации</button><!--
    --><button id="certificate-button" class="page-link" onclick="location.href = '/certificate'">Загрузить сертификат</button><!--
    --><button id="employee-evaluation-button" class="page-link" onclick="location.href = '/employee-evaluation'">Оценить сотрудника(-ов)</button><!--
    --><button id="selection-button" class="page-link" onclick="location.href = '/selection'">Сводка по сотруднику</button><!--
    --><button id="login-button" class="page-link" onclick="location.href = '/login'"><img alt="login" style="max-width: 60px; max-height: 60px" src={% static 'Images/login.png' %}></button>
</header>