{% load static %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <button class="toggle-btn" id="toggleBtn">☰</button>
    </div>
    <ul class="menu">
        {% if request.user.is_authenticated %}
            <li id="profile" onclick="location.href = '/profile'">
                <i><img alt="PR" src="{% static 'Images/profile.svg' %}"></i>
                <span class="menu-item">Профиль</span>
            </li>
        {% endif %}
        <li id="self-assessment" onclick="location.href = '/self-assessment'">
            <i><img alt="SA" src="{% static 'Images/assessment.svg' %}"></i>
            <span class="menu-item">Квалификации</span>
        </li>
        <li id="certificate" onclick="location.href = '/certificate'">
            <i><img alt="CR" src="{% static 'Images/certificate.svg' %}">
            </i><span class="menu-item">Сертификаты</span>
        </li>
        <li id="selection" onclick="location.href = '/selection'">
            <i><img alt="SL" src="{% static 'Images/select.svg' %}"></i>
            <span class="menu-item">Выборка</span>
        </li>
        <li id="employee-evaluation" onclick="location.href = '/employee-evaluation'">
            <i><img alt="EE" src="{% static 'Images/evaluation.svg' %}"></i>
            <span class="menu-item">Сводка</span>
        </li>
        {% if request.user.is_authenticated %}
            <li id="logout" onclick="location.href = '/auth/logout'">
                <i><img alt="LgO" src="{% static 'Images/logout.svg' %}"></i>
                <span class="menu-item" >Выход</span>
            </li>
        {% else %}
            <li id="login" onclick="location.href = '/auth/'">
                <i><img alt="LgI" src="{% static 'Images/login.svg' %}"></i>
                <span class="menu-item" >Вход</span>
            </li>
        {% endif %}
    </ul>
    <div id="theme">
            <div id="light-theme-icon"><img class="theme-icon" src="{% static "Images/light.svg" %}" alt="light"></div>
            <div id="dark-theme-icon"><img class="theme-icon" src="{% static "Images/dark.svg" %}" alt="dark"></div>
    </div>
</div>