{% load static %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <button class="toggle-btn" id="toggleBtn">☰</button>
    </div>
    <ul class="menu">
        <li id="self-assessment" onclick="location.href = '/self-assessment'">
            <i><img alt="SA" src="{% static 'Images/assessment.svg' %}"></i>
            <span class="menu-item">Квалификации</span>
        </li>
        <li id="certificate" onclick="location.href = '/certificate'">
            <i><img alt="CR" src="{% static 'Images/certificate.svg' %}">
            </i><span class="menu-item">Сертификаты</span>
        </li>
        <li id="selection" onclick="location.href = '/selection'">
            <i><img alt="SL" src="{% static 'Images/select.svg' %}"></i>
            <span class="menu-item">Выборка</span>
        </li>
        <li id="employee-evaluation" onclick="location.href = '/employee-evaluation'">
            <i><img alt="EE" src="{% static 'Images/evaluation.svg' %}"></i>
            <span class="menu-item">Сводка</span>
        </li>
        <li id="profile">
            <i><img alt="PR" src="{% static 'Images/profile.svg' %}"></i>
            <span class="menu-item">Профиль</span>
        </li>
        <li id="logout">
            <i><img alt="LgO" src="{% static 'Images/logout.svg' %}"></i>
            <span class="menu-item" onclick="location.href = '/auth/logout'">Выход</span>
        </li>
    </ul>
    <div id="theme">
        <div id="icon-wrapper">
        <img id="light-theme-icon" class="theme-icon" src="{% static "Images/light.svg" %}" alt="light">
        <img id="dark-theme-icon" class="theme-icon" src="{% static "Images/dark.svg" %}" alt="dark">
        </div>
    </div>
</div>