:root {
    --system-ui: system-ui, "Helvetica Neue", Arial, sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    font-family: var(--system-ui), serif;
}

/* Full HD (1920x1080) */
@media screen and (min-width: 1400px) and (max-width: 2559px) {
  html {
    font-size: 15px; /* Размер текста для Full HD */
  }
}

/* 2K (2560x1440) */
@media screen and (min-width: 2400px) and (max-width: 3839px) {
  html {
    font-size: 20px; /* Размер текста для 2K */
  }
}

/* 4K (3840x2160) */
@media screen and (min-width: 3700px) {
  html {
    font-size: 25px; /* Размер текста для 4K */
  }
}

/* UltraWide (например, 3440x1440) */
@media screen and (min-width: 3440px) and (max-width: 3839px) and (min-height: 1440px) {
  html {
    font-size: 30px; /* Размер текста для UltraWide */
  }
}

#content {
    display: flex;
    width: 100%;
    height: 100%;
}

#content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    padding-left: 10px;

    background-color: teal;

    color: white;

    transition: .5s;
}

.column:hover {
    height: 100%;
    width: 40%;
    align-items: stretch;
}

.column-wrapper {
    display: block;
    overflow: scroll;

    /* Нормально(без библиотек) кастомизировать скроллбары вне chromium-браузеров нельзя, так что пришлось просто убрать*/
    scrollbar-width: none;
}

.column-header {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px
}

.column-header strong{
    font-size: 2rem;
}

.expand-button {
    display: none;
    padding: 5px;
    border: none;
    background-color: rgb(0, 182, 197);
}

.expand-button:hover{
    background-color: rgb(0, 126, 146);
}

.column:hover .expand-button {
    display: block;
}

.data {
    font-size: small;
    display: none;
}

.column:hover .data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1rem;
}

p {
    padding: 0 3px;
}

/* До времен, когда кастомизацию скроллбара введут полностью */
/*::-webkit-scrollbar {*/
/*    width: 7px; !* Ширина вертикального скроллбара *!*/
/*    height: 7px; !* Высота горизонтального скроллбара *!*/
/*}*/

/*!* Стили для трека скроллбара (полоса по которой движется бегунок) *!*/
/*::-webkit-scrollbar-track {*/
/*    background: none; !* Цвет фона трека *!*/
/*}*/

/*!* Стили для бегунка скроллбара (сам скролл) *!*/
/*::-webkit-scrollbar-thumb {*/
/*    background: #888; !* Цвет бегунка *!*/
/*    border-radius: 10px; !* Закругленные углы *!*/
/*}*/

/*!* Стили для бегунка при наведении *!*/
/*::-webkit-scrollbar-thumb:hover {*/
/*    background: #555; !* Цвет бегунка при наведении *!*/
/*}*/

/*::-webkit-scrollbar-corner {*/
/*    background: none; !* Цвет угла *!*/
/*}*/


