:root {
    --system-ui: system-ui, "Helvetica Neue", Arial, sans-serif;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;

    font-family: var(--system-ui), serif;
}

#wrapper {
    width: fit-content;
    margin: auto;
    padding: 10px;
}