:root {
    --system-ui: system-ui, "Helvetica Neue", Arial, sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;

    margin: 0;
    padding: 0;

    font-family: var(--system-ui), serif;
}

thead, tfoot {
    color: #fff;
    background-color: #2c5e77;
}

table {
    font-size: clamp(10px, 5vw, 20px);
    letter-spacing: 1px;

    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
}

th, td {
    padding: 10px;
    border-bottom: 1px solid black;

    text-align: center;
}

tbody tr:hover {
    background-color: rgba(0,182,197, 0.3);

    cursor: pointer;
}

#content {
    display: flex;
    width: 100%;
    height: fit-content;
}

#data {
    display: flex;
    top: 0;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

#upload-certificate {
    width: 100%;

    border: none;
    padding: 10px 0;
    margin-bottom: 10px;

    background-color: rgb(0, 182, 197);

    font-size: clamp(10px, 5vw, 20px);

    transition: background-color 0.3s ease;
}

#upload-certificate:hover {
    background-color: rgb(0, 126, 146);
}

#form-modal {
    border: none;
}

#send-certificate {
    width: 100%;
    padding: 10px 0;

    border: none;

    background-color: rgb(0, 182, 197);
}

#send-certificate:hover {
    background-color: rgb(0, 126, 146);
}

#close-modal {
    position: absolute;
    top: 10px;
    right: 10px;

    border: none;
    padding: 5px 10px;

    background-color: salmon;
}

#close-modal:hover {
    background-color: #f62109;;
}