:root{
    --background-main: rgb(0,182,197);
    --background-main-hover: rgb(0,126,146);
}

html{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


td{
    width: 100px;
    text-align: center;
}

input[type="radio"]{
  -ms-transform: scale(1.8); /* IE 9 */
  transform: scale(1.8);
}

form{
    padding-bottom: 20px;
}

.form-navigation-button{
    background-color: var(--background-main);
    /*padding-top: 20px;*/
    border: none;
    text-decoration: none;
    display: inline-block;
    width: 80px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-navigation-button:hover, #back:hover, #self-assessment-button{
    background-color: var(--background-main-hover);
}

.form-element, .form-button{
    display: none;
}

.form-navigation-block{
    position: sticky;
    top: 0;
    left: 10px;
    z-index: 100;
    background: rgba(211,211,211, .6);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.sub-block{
    padding-bottom: 20px;
}

.wrapper{
    margin: auto;
    width: fit-content;
}

.element{
    border-left:solid salmon 10px;
}

#form-navigation{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#error-box{
    display: none;
    width: fit-content;
    height: 25px;
    background-color: salmon;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    border-radius: 5px;
}

/*#back{*/
/*    position: fixed;*/
/*    bottom: 20px;*/
/*    right: 20px;*/
/*    border-radius: 50%;*/
/*    height: 70px;*/
/*    width: 70px;*/
/*    background-color:  rgb(0,182,197);*/
/*    border: none;*/
/*    z-index: 150;*/
/*}*/

#back {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-color: var(--background-main);
    border: none;
    z-index: 110;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    transition: background-color 0.3s ease;
}

#back:hover {
    background-color: var(--background-main-hover);
}
