:root {
    --background-main: rgb(0, 182, 197);
    --background-main-hover: rgb(0,126,146);
    --system-ui: system-ui, "Helvetica Neue", Arial, sans-serif;
}

html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: var(--system-ui), serif;
    font-size: 16px;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.button {
    background-color: var(--background-main);
    padding: 5px;
    border: none;
    width: fit-content;
    transition: background-color 0.3s ease;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button:hover {
    background-color: var(--background-main-hover);
}

.button--navigation {
    font-size: 1.5rem;
}

.button--finish {
    font-size: 1.5rem;
    background-color: rgb(224,127,80);
}

.button--finish:hover {
    background-color: rgb(130, 59, 23);
}

#content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

#assessment {
    display: inherit;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

#assessment--navigation {
    position: sticky;
    top:0;
    margin: auto;

    z-index: 100;
}

.links {
    position: sticky;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    top: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 10vw;
    height: 100%;
    width: 10vw;
}

#links__expand-button {
    height: 60px;
    width: 100%;
    border: none;
    background-color: rgb(224,127,80);
}

#links__expand-button:hover {
    background-color: rgb(130, 59, 23);
}

#links__list-wrapper {
    overflow: hidden;
    width: 100%;
    height: 0;
}

.links.links--expanded #links__list-wrapper {
    animation: expand 1s ease-in-out forwards;
}

@keyframes expand {
    0% {height: 0;}
    100% {height: 90vh;}
}

.links.links--collapsed #links__list-wrapper {
    animation: collapse 1s ease-in-out forwards;
}

@keyframes collapse {
    0% {height: 90vh;}
    100% {height: 0;}
}

#links__list{
    list-style-type: none;
    border: none;
    background-color: var(--background-main);
    color: white;
    height: 100%;

    overflow-y: auto;
    scrollbar-width: none;

    user-select: none;
}

#links__list li {
    padding: 5px;
    transition: background-color 0.3s ease;
}

#links__list a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#links__list li:hover{
    background-color: var(--background-main-hover);
}

.block {
    margin: 10px;
}

.block__sub__task__outer-wrapper{
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.block__sub__task__inner-wrapper{
    margin-bottom: 20px
}

.block__sub__task {
    display: flex;
    flex-direction: row;
    border-left: salmon solid 8px;
    padding: 10px;
}

.block__sub__selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    user-select: none;
}

.block__sub__selection input {
    scale: 1.5;
}

.hidden {
    display: none;
}