:root{
    --system-ui: system-ui, "Helvetica Neue", Arial, sans-serif;
}

body{
        font-family: var(--system-ui), serif;
}

body.modal-open {
    overflow: hidden;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    align-items: center;
    justify-content: center;

    display: flex;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.8);

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.modal-content {
    width: 80%;
    max-width: 500px;

    padding: 20px;
    border: 1px solid #888;

    text-align: center;

    background-color: white;
}

.modal.show {
    opacity: 1;
    visibility: visible;
}