<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selection</title>
    <link rel="stylesheet" href="{% static "GlobalCSS/sidebar-sticky.css" %}" />
    <link rel="stylesheet" href="{% static "CSS/selections.css" %}" />
    <link rel="shortcut icon" href="https://i.pinimg.com/474x/67/bf/21/67bf2179ae48b0513c7a067200e006c5.jpg" />
</head>
<body>
<div id="content">
    {%  include "sidebar.html" %}
    <div id="data">
        <p>В процессе...</p>
        <img src="https://media1.tenor.com/m/6RLqkhjqa7sAAAAd/anton-klockan-klockan.gif" alt="monke">
    </div>
</div>
<script src="{% static "GlobalJS/sidebar.js" %}"></script>
</body>
</html>