<!DOCTYPE html>
{% load static %}
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Hub</title>
    <link rel="stylesheet" href="{% static "CSS/main.css" %}" />
    <link rel="stylesheet" href="{% static "GlobalCSS/Header.css" %}" />
    <link rel="shortcut icon" href="https://i.pinimg.com/474x/67/bf/21/67bf2179ae48b0513c7a067200e006c5.jpg" />

</head>
<body>
    {% if request.user.is_authenticated %}
        {% include "logged-header.html" %}
    {% else %}
        {% include "header.html" %}
    {% endif %}
<div id="success-msg-box" class="msg-box">{{ success }}</div>
<div id="warning-msg-box" class="msg-box">{{ warning }}</div>
</body>
</html>