{% extends 'base.html' %}
{% load static %}

{% block title %}Hub{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            {% if success %}
                <div class="alert alert-success" role="alert">
                    {{ success }}
                </div>
            {% endif %}
            {% if warning %}
                <div class="alert alert-warning" role="alert">
                    {{ warning }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}