<!DOCTYPE html>
{% load static %}
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "CSS/main.css" %}" />
    <link rel="stylesheet" href="{% static "GlobalCSS/Header.css" %}" />
    <title>ska-main</title>
</head>
<body>
<header>
    <button id="self-assessment-button" class="page-link">Заполнить квалификации</button><!--
    --><button id="certificate-button" class="page-link">Загрузить сертификат</button><!--
    --><button id="employee-evaluation-button" class="page-link">Оценить сотрудника(-ов)</button><!--
    --><button id="selection-button" class="page-link">Сводка по сотруднику</button>
</header>
<script src="{% static "GlobalJS/jquery-3.7.1.min.js" %}"></script>
{#<script src="https://code.jquery.com/jquery-3.7.1.js"></script>#}
<script src="{% static "JS/main.js" %}"></script>
</body>
</html>